
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto&display=swap');
body{
  background: #EDF7FF !important;
  font-family: "Roboto";
  padding-top: 50px;

}
select:focus{
  outline:none;
  margin: 0;
  padding: 0;
}